.config-check-form{
  margin-left:10%;
  margin-right: 10%;
  height: 460px;
  background-color:whitesmoke;
  opacity: .85;
}
mat-grid-list{
  margin-top: 0%;
  margin-bottom: 0%;
  height: auto;
}
mat-grid-tile{
  margin-top: 0%;
  margin-bottom: 0%;
  height: auto;

}
.left{
  text-align: right;
  margin-right: 5%;
  margin-bottom: 0%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  height: 460px;
  font-size: 15px;
  color: black;
  margin-right: 5%;
  
}
.example-form-right{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  height: 460px;
  font-size: 15px;
  color: black;

}
.example-full-width {
  width: fit-content;
  color: black;
  font-size: 12px;
  margin-right: 5%;
}
.example-width{
  width: 30%;
  color: black;
  font-size: 12px;
  margin-right: 5%;
}
.example-date{
  color: black;
  font-size: 12px;
  margin-right: 5%;
  width: 30%;
}
.select-left{
  color: black;
  font-size: 12px;
  width: 30%;
  text-align: left;
  margin-right: 5%;
}
.butt{
  margin-right: 5%;
}
.bottom-left{
  margin-right: 5%;
  margin-bottom: 0%;
}
.example-width3{
  width: 35%;
  color: black;
  font-size: 12px;
  margin-right: 5%;
}
.example-width-right{
  width: 40%;
  color: black;
  font-size: 15px;
  margin-left: 30%;
  margin-right: 5%;
  height: 15%;
}
.example-select{
  color: black;
  font-size: 11px;
  margin: 10px;
  width: 16%;
  margin-right: 5%;
}
.example-section {
  align-content: center;
  align-items: center;
  height: 15px;
}
.example-margin {
  font-size: 12px;
  margin: 10px;
}
.example-container {
  height: 480px;
  overflow: auto;
  width: 100%;
}
table {
  width: 100%;
  background-color:#e4d1d1;
  font-size: 15px;
}
.mat-row:hover{
  background-color: #d1c7c7;
}
.placeholder{
  color: rgb(0, 0, 0);
}
body{
  background-image: url("https://images.pexels.com/photos/1128797/pexels-photo-1128797.jpeg?cs=srgb&dl=blur-color-depth-of-field-1128797.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 561px;
  top: 10;
  bottom: 0;
}